<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='books_style.css') }}">
</head>
<body>
    {% for book in books %}
        <a href="/{{book.title}}">
            <div class="book-show">
                <h2>{{book.title}}</h2>
                <div class="genre">
                    <p>{{book.genre}}</p>
                </div>
                <div class="author">
                    <p>{{book.author}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</body>
</html>